#botao{
  font-family: arial;
  font-size:14px;
  font-weight:700;
  padding: 15px 20px;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
  border-radius:25px;
  margin-top:-2%;
  margin-left:40%;

}
#botao{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
}
#botao:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
#botao:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
div.rele_ligado {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 300px;
    height: 206px;
    border: none;
}

div.rele_desligado {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 300px;
    height: 206px;
    border: none;
}

#botao{
    position: absolute;
    right: 30px;
    top: 330px;
}
.botao{
	border-radius:6px;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    width: 200px;
	text-align: center;
	
}
#wrapper {
    padding-top: 40px;
    position: relative;
    width: 400px;
    height: 200px;
	margin-right: auto;
	margin-top: 0;
	margin-left: auto;
    font-size: 30px;
    color: gray;
    text-align: center;
    font-family: arial;
}
